@charset "UTF-8";

a {
    color: #000;
}

.timer {
    display: flex;
}

.buttons {
    a {
        vertical-align: middle;
        background-color: lightgray;
        border: #000 solid 1px;
        display: inline-block;
        width: 100px;
        padding: 20px 0px;
        text-align: center;

    }
}