@charset "UTF-8";

h3 {
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 40px;
}

.timer {
    margin-left: 40px;
    margin-bottom: 40px;
    display: flex;
    font-size: 30px;
}

.buttons {
    margin-left: 20px;
    p {
        cursor: pointer;
        vertical-align: middle;
        background-color: lightgray;
        border: #000 solid 1px;
        display: inline-block;
        width: 100px;
        padding: 20px 0px;
        text-align: center;
    }

    #strat{

    }
    #stop{

    }
    #reset{
        
    }
}