@charset "UTF-8";

html {}

body{
    position: relative;
}
a {
    color: #000;
}

.timer{
    display: flex;
}

.buttons {
    a{
        position: absolute;
        vertical-align: middle;
        background-color: lightgray;
        border: #000 solid 1px;
        display: inline-block;
        width: 100px;
        height: 60px;
        text-align: center;
        
    }
}